@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="fw-bolder">SEGUNDA PRACTICA EVALUADA DEL SEGUNDO PERIODO</h1>
    <br />

    <br />
    <h2 class="fw-bold">Aplicación de Técnicas de Ingeniería de Software</h2>
    <br />

    <br />
    <h3 class="">Maicol Josué Monge Santamaría</h3>
    <br />

    <br />
    <h3 class="fw-bolder">Opciones</h3>
    <br />
    <div class = "d-flex justify-content-evenly">
        <a class="btn btn-outline-light" asp-area="" asp-controller="Tablas" asp-action="Tablas">Tablas</a>
        <a class="btn btn-outline-light" asp-area="" asp-controller="Sueldo" asp-action="Sueldo">Sueldo</a>
        <a class="btn btn-outline-light" asp-area="" asp-controller="Cadena" asp-action="Cadena">Cadena</a>
    </div>



</div>
